html, body {
  margin: 0;
  padding: 0;
  font-family: Karrik Regular;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

@font-face {
  font-family: Karrik Regular;
  src: url(assets/font/Karrik-Regular.woff);
}

@font-face {
  font-family: Karrik Italic;
  src: url(assets/font/Karrik-Italic.woff);
}

#h1 {
  position: fixed;
  margin: 20px;
  left: 1350px;
  width: 17%;
}

#draggable {
  position: absolute;
  left: 200px;
  background: white;
  width: 300px;
  height: 450px;
  border: 1.5px black solid;
  top: 60px;
  text-align: left;
  color: black;
  font-size: 2.4em;
  padding: 20px;
  z-index: 10;
  color: #39ff14;
/*  box-shadow: 1px 1px 2px grey, 0 0 25px #39ff14, 0 0 5px #39ff14; */ 
}



canvas {
  display: block;
  position: fixed;
  top: 0px;
  z-index: -10;
}

.header {
  background-color: green;
  position: fixed;
  top: 900px;
  left: 1450px;
  margin-top: 40px;
  font-size: 100px;
  line-height: 1;
  color: black;
  z-index: 1;
}


.button {
  outline-style: ;
  background: none;
  border: none;
  position: fixed;
  bottom: 37.5px;
  position: absolute;
  display: inline-block;
  left: 90px;
  color: black;
  font-weight: 400;
  font-size: 35px;
  font-family: Karrik Regular;
  z-index: 11;
}

button:hover {
  cursor: pointer;
  color: #39ff14;
  font-family: Karrik Italic;
}

#avatar {
  position: fixed;
  margin: 10px;
  top: 550px;
  left: 20px;
  width: 20%;
}
